@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

li{
  list-style: none;
}

img{
  max-width: 100%;
}

header{
  position: fixed;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.３;
  padding: 0.5px;
  display: flex;
  align-items: top;
  z-index: 100;
  top: 0;
}

#wave{
  width:60px;
  height: 60px;
  background-image: url(../images/wave.png);
  background-size: 60px auto;
  background-position: center center;
  background-repeat: repeat-x;
  margin-left: auto;
}
#menu{
  position: fixed;
  top: 30px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  line-height: 10;
  left: 20px;
  z-index: 100;
  cursor: pointer;
  font-family: 'East Sea Dokdo', cursive;
}

#content{
  position: relative;
  margin: 100px auto;
  padding: 20px;
  max-width: 1000px;
}

.set{
  text-align: center;
  background-color: #ccc;
  opacity: 0.6;
  min-height: 520px;
  margin-bottom: 100px;
}

.set p{
  font-size: 60px;
  margin-bottom: 50px;
  padding-top: 150px;
  

}

body.one #backimg01,
body.two #backimg02,
body.three #backimg03{
  opacity: 1;
}

#back{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fcfcfc;
}

.backimg{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s all;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, blue,red);
}